.wrapper {
  background-color: #fff;
  border-radius: 15px;
  padding: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: max-content;
  min-width: 200px;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)
}

.swap-header {
  font-family: "Ubuntu", sans-serif;
  font-size:x-large;
  color: #12888d;
  }

.details-label {
  color: #1a9ca0f3;
  font-family: "Ubuntu", sans-serif;
}

.reset-link {
  color:rgba(227, 5, 194, 0.714);
  font-family: "Ubuntu", sans-serif;
}

.reset-link:hover {
  width: 100%;
  color: rgb(177, 36, 216)
 }
 