.header-wrapper {
  background-color: #fff;
  border-radius: 50%;
  padding: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
  height: max-content;
  min-width: 200px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)
}

.logo {
  width: 450px;
}