.list-wrapper {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  height: max-content;
  min-width: 200px;
  text-align: left;
  max-width: 600px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  position: relative;
}

.list-wrapper:hover {
  transform: rotate(3deg);
}


