.wrapper {
  max-width: 750px;
  border-radius: 10px;
  padding: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
  height: max-content;
  background-color: rgba(17, 77, 66, 0.851);
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}